{% extends "layout.html" %}
{% block title %}
Edit review
{% endblock %}
{% block content %}  
  <section class="hero">
    <div class="hero-body">
			<div class="container has-text-centered">
				<div class="column is-6 is-offset-3">
					<h2 class="title">Edit author</h2>
					<form action="" method="POST" name="edit_author">
							{{ form.hidden_tag() }}
							<div class="field">
								<label for="name" class="label">Name</label>
								<div class="control">
										{{ form.name(class="input")}}
								</div>
							</div>
							<div class="field">
									<label for="description" class="label">Description</label>
									<div class="control">
											{{ form.description(class="textarea")}}
									</div>
                            </div>
                            <div class="field">
                                <label for="photo" class="label">Photo</label>
                                <div class="control">
                                    {{ form.photo(class="input")}}
                                </div>
                            </div>			
							<button class="button is-primary is-outlined">
									Submit
							</button>
						</form>
				</div>
			</div>
    </div>

  </section>
{% endblock %}