{% extends "layout.html" %}
{% block title %}Books{% endblock %}
{% block content %}
<section class="section">
  <div class="container">
    {% if query %}
      <h1 class="title is-3">Results for "{{ query }}"</h1>
    {% elif genre %}
      <h1 class="title is-3">{{ genre }} Books</h1>
    {% elif year%}
      <h1 class="title is-3">Books published in {{ year }}</h1>
    {% else %}
      <h1 class="title is-3">Books</h1>
    {% endif %}
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          {% if query or genre or year %}
            <span>Showing results {{12 * (page|int-1) + 1}}-{{12 * (page|int-1) + books|length}} of {{count}}</span>
          {% else %}
            <span>Showing results {{12 * (page|int-1) + 1}}-{{12 * (page|int-1) + books|length}} of {{count}}</span>
          {% endif%}
         
        </div>
        
      </div>
      <div class="level-right">
        
        {% if page and page|int > 1 %}
          {% if query or genre or year %}
          <div class="level-item">
            <a href="{{url_for('search_page', year=year, genre=genre, query=query, p=page|int-1)}}">Prev</a>
          </div>         
          {% else %}
          <div class="level-item">
            <a href="{{url_for('books_page', p=page|int-1)}}">Prev</a>
          </div>            
          {% endif %}
        {% endif %}
        {% if page|int < (count/12)|round(0, 'ceil') %}
          {% if query or genre or year %}
          <div class="level-item">
            <a href="{{url_for('search_page', year=year, genre=genre, query=query, p=page|int+1)}}">Next</a>
          </div>          
          {% else %}
          <div class="level-item">
            <a href="{{url_for('books_page', p=page|int+1)}}">Next</a>
          </div>           
          {% endif %}
        {% endif %} 
      </div>
    </div>
    
    

    

  
    {% if books %}
        <div class="columns is-multiline">
          {% for book in books %}
          <div class="column is-2">
            <div class="card  has-text-centered">
                <div class="card-image">
                  <figure class="image is-3by4">
                    {% if book.cover %}
                      <img src="{{ book.cover }}">
                    {% else %}
                      <img src="https://www.abbeville.com/assets/common/images/edition_placeholder.png?">
                    {% endif %}
                  </figure>
                </div>
                <div class="card-content">
                  <a class="title is-5" href="{{ url_for('book_page', book_id=book.id) }}">
                  {{ book.title }}</a>
                  <br>
                  <p class="subtitle is-6">{{ book.year }}</p>
                </div>
                {% if current_user.is_admin %}
                  <div class="card-footer">
                    <div class="columns fullwidth is-gapless">
                      <div class="column">
                          <a class="button is-warning is-outlined fullwidth"
                          href="{{ url_for('book_page', book_id=book.id) }}/edit">Edit</a>
                      </div>
                      <div class="column">
                        <form action="{{ url_for('delete_book', book_id=book.id) }}" method="POST" name="delete_book">
                          <input type="hidden", name="_method", value="DELETE">
                          <button class="button is-danger is-outlined fullwidth">Delete</button>
                        </form> 
                      </div>
                    </div>          
                  </div>
                {% endif %}
            </div>
          </div>    
          {% endfor %}
        </div>
        <div class="level">
          <div class="level-left">

          </div>  
            <div class="level-right">          
              {% if page and page|int > 1 %}
                {% if query or genre or year %}
                <div class="level-item">
                  <a href="{{url_for('search_page', year=year, genre=genre, query=query, p=page|int-1)}}">Prev</a>
                </div>         
                {% else %}
                <div class="level-item">
                  <a href="{{url_for('books_page', p=page|int-1)}}">Prev</a>
                </div>            
                {% endif %}
              {% endif %}
              {% if page|int < (count/12)|round(0, 'ceil') %}
                {% if query or genre or year %}
                <div class="level-item">
                  <a href="{{url_for('search_page', year=year, genre=genre, query=query, p=page|int+1)}}">Next</a>
                </div>
              </div>          
                {% else %}
                <div class="level-item">
                  <a href="{{url_for('books_page', p=page|int+1)}}">Next</a>
                </div>           
                {% endif %}
              {% endif %} 
            </div>

          </div>

    
    {% else %}
    <p class="is-size-5">Nothing was found.</p>
    {% endif %}
  </div>
</section>


{% endblock %}