{% extends "layout.html" %}
{% block title %}Book{% endblock %}
{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">Book</h1>
    <div class="columns has-equal-height">
      <div class="column is-3">
        <figure class="image is-3by4">
            <img src="{{ book.cover }}">
        </figure>
      </div>
      <div class="column is-half">
        <table class="table">
            <tr>
              <th>Title:</th>
              <td>{{ book.title }}</td>
            </tr>
            {% if book.avgscore %}
            <tr>
                <th>Score:</th>
                <td>{{ book.avgscore|round(1) }}/10</td>
            </tr>
            {% endif %}
            {% if book.author %}
            <tr>
              <th>Author:</th>
              <td>{{ book.author }}</td>
            </tr>
            {% endif %}
            {% if book.year %}
            <tr>
              <th>Year:</th>
              <td>{{ book.year }}</td>
            </tr>
            {% endif %}
            {% if book.genre %}
            <tr>
              <th>Genres:</th>
              <td>{{ book.genre }}</td>
            </tr>
            {% endif %}
            {% if book.pageNumber %}
            <tr>
              <th>Number of Pages:</th>
              <td>{{ book.pageNumber }}</td>
            </tr>
            {% endif %}
          </table>
          {% if current_user.is_admin %}
            
              <div class="level">
                <div class="level-left">
                    <div class="level-item">
                      <form action="{{ request.path }}/edit" method="GET" name="edit_book">
                          <button class="button is-warning is-outlined is-small">Edit</button>
                      </form>
                    </div>
                    <div class="level-item">
                      <form action="{{url_for('delete_book', book_id=book.id)}}" method="POST" name="delete_book">
                        <input type="hidden", name="_method", value="DELETE">
                        <button class="button is-danger is-outlined is-small">Delete</button>
                      </form>
                    </div>
                </div>
              </div>
            
          {% endif %}
      </div>
    </div>
  </div>
</section>
    
{% if reviews %}
  <section class="section">
    <div class="container">
      <h2 class="title">Reviews</h2>
      {% for review, user_id in zip(reviews, user_ids) %}
        <article class="media">
          <div class="media-content">
            <div class="content">
              <p class="is-size-6 is-marginless">
                {% for i in range(review.score)%}
                <span class="icon"><i class="fas fa-star"></i></span>
                {% endfor %}
                {% for i in range(10 - review.score)%}
                <span class="icon"><i class="far fa-star"></i></span>
                {% endfor %}
                <small class="is-size-4">{{ review.score }}/10</small>
                 - Title
              </p>
              <p class="is-marginless">Written by 
                <strong class="is-size-4">
                    <a class="is-link" href="{{ url_for('profile_page', user_id=user_id) }}">
                      {{ review.author }}
                    </a>
                </strong>
                 | <small class="is-size-6">{{review.datewritten.strftime('%e %B %Y, %H:%M')}}</small>
              </p>
                <br>
              <p>
                {{ review.comment }}
              </p>
            </div>
          </div>
          {% if (user_id == current_user.id or current_user.is_admin) %}
          <div class="media-right">
              <div class="level">
                  <div class="level-left">
                      {% if user_id == current_user.id %}
                      <div class="level-item">
                        <form action="{{ url_for('review_edit_page', review_id=review.id) }}" method="GET" name="edit_review">
                            <button class="button is-warning is-outlined is-small">Edit</button>
                        </form>
                      </div>
                      {% endif %}
                      <div class="level-item">
                          <form action="{{url_for('delete_review', review_id=review.id)}}" method="POST" name="delete_review">
                          <input type="hidden", name="_method", value="DELETE">
                          <button class="button is-danger is-outlined is-small">Delete</button>
                        </form>
                      </div>
                  </div>
                </div>
          </div>
          {% endif %}
        </article>
      {% endfor %}
    </div>
  </section>
{% endif %}  
 
{% if current_user.is_authenticated %}
<section class="section">
  <div class="container">
    <h2 class="title">Write a review</h2>
    <form action="" method="POST" name="add_review">
      {{ form.hidden_tag() }}
      <div class="field">
        <label for="score" class="label">Your score</label>
        <div class="control">
            {{ form.score(autofocus=False, class="select")}}
        </div>
      </div>
      <div class="field">
          <label for="comment" class="label">Your comment</label>
          <div class="control">
              {{ form.comment(class="textarea")}}
          </div>
      </div>

      <button class="button is-primary is-outlined is-small">
          Submit
        </button>
    </form>
  </div>
</section>

{% endif %}

{% endblock %}
