{% extends "layout.html" %}
{% block title %}Book{% endblock %}
{% block content %}
    <h1 class="title">Book</h1>

    <table class="table">
      <tr>
        <th>Title:</th>
        <td>{{ book.title }}</td>
      </tr>
      {% if book.author %}
      <tr>
        <th>Author:</th>
        <td>{{ book.author }}</td>
      </tr>
      {% endif %}
      {% if book.year %}
      <tr>
        <th>Year:</th>
        <td>{{ book.year }}</td>
      </tr>
      {% endif %}
      {% if book.genre %}
      <tr>
        <th>Genres:</th>
        <td>{{ book.genre }}</td>
      </tr>
      {% endif %}
      {% if book.pageNumber %}
      <tr>
        <th>Number of Pages:</th>
        <td>{{ book.pageNumber }}</td>
      </tr>
      {% endif %}
    </table>

    {% if current_user.is_authenticated %}
    <div class="field is-grouped">
      <div class="control">
        <a class="button is-primary is-outlined is-small"
           href="{{ request.path }}/edit">Edit</a>
      </div>
    </div>
    {% endif %}
{% endblock %}
