{% extends "layout.html" %}
{% block title %}
{% if form.title.data %}
Edit book
{% else %}
Add book
{% endif %}
{% endblock %}
{% block content %}
  <section class="hero">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="column is-4 is-offset-4">
            <h3 class="title has-text-grey">
              {% if form.title.data %}
                Edit book
              {% else %}
                Add book
              {% endif %}
            </h3>
            <div class="box">
              <form action="" method="post" name="book_edit">
                {{ form.csrf_token }}

                <div class="field">
                  <label for="title" class="label">Title</label>
                  <div class="control">
                    {{ form.title(required=True, autofocus=True, class='input') }}
                  </div>
                  {% for error in form.title.errors %}
                  <p class="help has-background-warning">
                      {{ error }}
                  </p>
                  {% endfor %}
                </div>

                <div class="field">
                  <label for="author" class="label">Author</label>
                  <div class="control">
                    {{ form.author(class='input') }}
                  </div>
                  {% for error in form.author.errors %}
                  <p class="help has-background-warning">
                      {{ error }}
                  </p>
                  {% endfor %}
                </div>

                <div class="field">
                  <label for="year" class="label">Year</label>
                  <div class="control">
                    {{ form.year(class='input') }}
                  </div>
                  {% for error in form.year.errors %}
                  <p class="help has-background-warning">
                      {{ error }}
                  </p>
                  {% endfor %}
                </div>

                <div class="field">
                  <label for="genre" class="label">Genres</label>
                  <div class="control">
                    {{ form.genre(class='input') }}
                  </div>
                  {% for error in form.genre.errors %}
                  <p class="help has-background-warning">
                      {{ error }}
                  </p>
                  {% endfor %}
                </div>

                <div class="field">
                  <label for="pageNumber" class="label">Number of Pages</label>
                  <div class="control">
                    {{ form.pageNumber(class='input') }}
                  </div>
                  {% for error in form.pageNumber.errors %}
                  <p class="help has-background-warning">
                      {{ error }}
                  </p>
                  {% endfor %}
                </div>
                <div class="field">
                    <label for="cover" class="label">Cover Image</label>
                    <div class="control">
                      {{ form.cover(class='input') }}
                    </div>
                    {% for error in form.cover.errors %}
                    <p class="help has-background-warning">
                        {{ error }}
                    </p>
                    {% endfor %}
                  </div>

                <div class="field is-grouped">
                  <div class="control">
                    <button class="button is-primary">Save</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}