{% extends "layout.html" %}
{% block title %}Book{% endblock %}
{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">Book</h1>
    <table class="table">
      <tr>
        <th>Title:</th>
        <td>{{ book.title }}</td>
      </tr>
      {% if book.author %}
      <tr>
        <th>Author:</th>
        <td>{{ book.author }}</td>
      </tr>
      {% endif %}
      {% if book.year %}
      <tr>
        <th>Year:</th>
        <td>{{ book.year }}</td>
      </tr>
      {% endif %}
      {% if book.genre %}
      <tr>
        <th>Genres:</th>
        <td>{{ book.genre }}</td>
      </tr>
      {% endif %}
      {% if book.pageNumber %}
      <tr>
        <th>Number of Pages:</th>
        <td>{{ book.pageNumber }}</td>
      </tr>
      {% endif %}
    </table>
    {% if current_user.is_authenticated %}
    <div class="field is-grouped">
      <div class="control">
        <a class="button is-primary is-outlined is-small"
           href="{{ request.path }}/edit">Edit</a>
      </div>
    </div>
    {% endif %}
  </div>
</section>
    
{% if reviews %}
  <section class="section">
    <div class="container">
      <h2 class="title">Reviews</h2>
      {% for review in reviews%}
        <article class="media">
          <div class="media-content">
            <div class="content">
              <p>
                <strong class="is-size-4">{{ review.author }}</strong> <span class="icon"><i class="fas fa-star"></i></span> <small class="is-size-4">{{ review.score }}/10</small>
                <br>
                {{ review.comment }}
              </p>
            </div>
          </div>
          <div class="media-right">
              <a class="delete"
              href="{{ url_for('delete_review', review_id=review.id) }}"></a>
          </div>
        </article>
      {% endfor %}
    </div>
  </section>
{% endif %}  
 
{% if current_user.is_authenticated %}
<section class="section">
  <div class="container">
    <h2 class="title">Write a review</h2>
    <form action="" method="POST" name="add_comment">
      {{ form.hidden_tag() }}
      <div class="field">
        <label for="score" class="label">Your score</label>
        <div class="control">
            {{ form.score(autofocus=True, class="select")}}
        </div>
      </div>
      <div class="field">
          <label for="comment" class="label">Your comment</label>
          <div class="control">
              {{ form.comment(class="textarea")}}
          </div>
      </div>

      <button class="button is-primary is-outlined is-small">
          Submit
        </button>
    </form>
  </div>
</section>

{% endif %}

{% endblock %}
