{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Readvice</h1>
      <p class="subtitle">The internet book database.</p>
    </div>
  </div>
</section>
<section class="section">
  <div class="container has-text-centered">
    <h1 class="title"> Top 10 Books</h1>
    <div class="columns">
      <div class="column is-6 is-offset-3">
          <table class="table is-fullwidth">
              <tr>
                <th width=10%>#</th>
                <th width=60% class="has-text-centered">Title</th>
                <th width=20%>Score</th>
              </tr>
            {% for i in range(books| length) %}
              <tr>
                <th>{{i+1}}</td>
                <td><div class="columns">
                    <div class="column is-3">
                        <figure class="media-left image is-4by5">
                            {% if books[i].cover %}
                              <img src="{{ books[i].cover }}">
                            {% else %}
                              <img src="https://www.abbeville.com/assets/common/images/edition_placeholder.png?">
                            {% endif %}
                        </figure>
                    </div>       
                      <div class="column is-9">
                        <a class="is-size-5 add-margin" href="{{url_for('book_page', book_id=books[i].id)}}"><span>{{ books[i].title}}</span></a>
                      </div>
                    </div>
                  </td>
                <th>
                  <span class="icon is-size-4">
                    <i class="fas fa-star"></i>
                    {% if (books[i].avgscore|float) == (books[i].avgscore|int|float)%}
                      {{ books[i].avgscore|round(1)|int }}/10
                    {% else %}
                      {{ books[i].avgscore|round(1 )}}/10
                    {% endif%}
                  </span>
                </th>
              </tr>
            {% endfor %}
            </table>
      </div>
        
    </div>
    
  </div>
</section>

{% endblock %}