<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Readvice - {% block title %}{% endblock %}</title>
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"/> 
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"/> 
    <link rel="stylesheet"
    href="{{ url_for('static', filename='books.css') }}"/>
  </head>
  <body>
      <header>
          <nav class="navbar is-danger red-color" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="{{ url_for('home_page') }}">
                <img src="{{ url_for('static', filename='logo.png') }}" width="112" height="40">
              </a>
          
              <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item" href="{{ url_for('home_page') }}">
                  Home
                </a>
          
                <a class="navbar-item" href="{{ url_for('books_page') }}">
                  Books
                </a>

                {% if current_user.is_admin %}
                <a class="navbar-item" href="{{ url_for('book_add_page') }}">
                  Add Book
                </a>
                {% endif %}
                <div class="navbar-item field">
                  <div class="control">
                      <form action="{{url_for('search_page')}}" method="GET" name="search">
                        <div class="level">
                          <div class="level-item">
                            {{searchform.query(class="input", placeholder="Search...")}}
                          </div>
                          <div class="level-item">
                            <button type="submit" class="button">
                                <i class="fas fa-search"></i>
                            </button>
                          </div>
                        </div>
                        

                      </form>
                  </div>

                </div>

              </div>
              <div class="navbar-end">
                {% if not current_user.is_authenticated %}
                <div class="navbar-item">
                  <div class="buttons">
                    <a class="button is-primary" href="{{url_for('registration_page')}}">
                      <strong>Sign up</strong>
                    </a>
                    <a class="button is-light" href="{{ url_for('login_page') }}">
                      Log in
                    </a>
                  </div>
                </div>
                {% else %}
                    <a class="navbar-item" href="{{ url_for('profile_page', user_id = current_user.id) }}">
                      {{ current_user.username }}</a>
     
                  <div class="navbar-item">
                    <a class="button is-light" href="{{ url_for('logout_page') }}">Log out</a>
                  </div>
                {% endif %}
              </div>
            </div>
          </nav>
      </header>
      {% for message in get_flashed_messages() %}
      <div class="notification is-info">{{ message }}</div>
      {% endfor %}
    <div id="wrapper">
      {% block content %}{% endblock %}
    </div>
    <footer class="red-color">
      <small>&copy; 2019, Vedat Günel</small>
    <a target="_blank" href="https://github.com/itucsdb1920/itucsdb1920">
      <p><i class="fab fa-github"></i> GitHub</p></a>
    </footer>
  </body>
</html>