{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <section class="hero">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="column is-4 is-offset-4">
            <h3 class="title has-text-grey">Login</h3>
            <div class="box">
              <form action="" method="post" name="login">
                {{ form.csrf_token }}

                <div class="field">
                  <div class="control has-icons-left">
                    {{ form.username(required=True, autofocus=True,
                                     class='input is-large',
                                     placeholder='your username') }}
                    <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
                  </div>
                  {% for error in form.username.errors %}
                    <p class="help has-background-warning">
                        {{ error }}
                    </p>
                  {% endfor %}
                </div>

                <div class="field">
                  <div class="control has-icons-left">
                    {{ form.password(required=True, class='input is-large',
                                     placeholder='your password') }}
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </div>
                  {% for error in form.password.errors %}
                    <p class="help has-background-warning">
                        {{ error }}
                    </p>
                  {% endfor %}
                </div>
                <div class="field">
                  <p class="is-size-5">Remember me {{ form.remember}}</p>
                  
                </div>
                <button class="button is-block is-info is-large is-fullwidth">
                  Login
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}